click
Flask
Flask-WTF
gunicorn
itsdangerous
Jinja2
MarkupSafe
vaderSentiment
six
Werkzeug
WTForms
nltk
scikit-learn
requests
numpy
pandas
tqdm
tensorflow
sklearn
matplotlib
keras
nltk
flask
SQLAlchemy
Flask-MySQL
mysqlclient
mysql-connector-python
